.main-content__inner {
  .calendar {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid lightgray;
  }
}

.calendar-table {
  width: 300px;
  height: 250px;
  text-align: center;

  th {
    width: 40px;
  }

  td {
    width: 40px;
    height: 40px;
  }

  .today {
    background-color: lightskyblue;
  }

  .ng {
    background-color: gray;
  }
}